{% extends "layout.html" %}

{% block title %}
Atherosclerosis
{% endblock %}

{% block body %}

<div>

<h2>What is atherosclerosis?</h2>

<p>Atherosclerosis is a hardening and narrowing of your arteries. It can put blood flow at risk as your arteries become blocked.

You might hear it called arteriosclerosis or atherosclerotic cardiovascular disease. It is the usual cause of heart attacks, strokes, and peripheral vascular disease.

You can prevent and treat this process.</p>


<h2>Causes</h2>

<p>Atherosclerosis is a slow, progressive disease that may begin as early as childhood. The exact cause is unknown but it may start with damage or injury to the inner layer of an artery.
The damage may be caused by:</p>

<ul>
    <li>High blood pressure</li>
    <li>High cholesterol</li>
    <li>High triglycerides</li>
    <li>Insulin resistance, obesity or diabetes</li>
    <li>Smoking</li>
</ul>

<h2>Symptoms</h2>

<p>You might not have symptoms until your artery is nearly closed or until you have a heart attack or stroke. Signs can also depend on which artery is narrowed or blocked.
The most common symptoms:</p>

<ul>
   <li>Arrhythmia</li>
   <li>Shortness of breath</li>
   <li>Numbness or weakness in your arms or legs</li>
   <li>Headache</li>
   <li>Trouble seeing in one or both eyes</li>
   <li>Leg pain when walking</li>
</ul>

<h2>Risk factors</h2>

<ol>
   <li>High blood pressure</li>
   <li>High levels of C-reactive protein (CRP), a marker of inflammation</li>
   <li>Diabetes</li>
   <li>Sleep apnea</li>
   <li>A family history of early heart disease</li>
   <li>An unhealthy diet</li>
</ol>

<h2>Complications</h2>

<ul>
   <li>Heart attack</li>
   <li>Chronic kidney disease</li>
   <li>Aneurysms</li>
   <li>Peripheral artery disease</li>
</ul>


<h2>Treatment</h2>

<p>Once you have a blockage, it's generally there to stay. But with medication and lifestyle changes, you can slow or stop plaques. They may even shrink slightly with aggressive treatment.
Doctor can use more invasive techniques to open blockages from atherosclerosis such as bypass surgery or fibrinolytic therapy. </p>


<a id="ATH" href="/">Homepage</a>
<p></p>





<img id="Athero" src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/35/ds00525_-ds01120_-ds00064_-ds00178_-ds01052_-ds00537_-ds01179_im00642_ww5r236t_jpg.jpg" alt="Atherosclerosis" width= 500 height= 300>

<p></p>

<img id="athero2" src="https://image.freepik.com/free-vector/stages-atherosclerosis-information-infographic_1308-51571.jpg" alt="Atherosclerosis2" width= 500 height= 300>

<p></p>

<img id="athero3" src="https://www.frontiersin.org/files/Articles/441339/fcvm-06-00046-HTML/image_m/fcvm-06-00046-g001.jpg" alt="Atherosclerosis3" width= 500 height= 300>
</div>
{% endblock %}