{% extends "layout.html" %}

{% block title %}
Diabetes type 2
{% endblock %}

{% block body %}

<div>

<h2>About type 2 diabetes</h2>


<p>In type 2 diabetes, there are primarily two interrelated problems at work. Your pancreas does not produce enough insulin and cells respond poorly to insulin and take in less sugar.</p>

<p>Type 2 diabetes used to be known as adult-onset diabetes, but both type 1 and type 2 diabetes can begin during childhood and adulthood.
Type 2 is more common in older adults, but the increase in the number of children with obesity has led to more cases of type 2 diabetes in younger people.</p>


<h2>Causes</h2>

<p>In type 2 diabetes we have two problems:</p>

<ol>
    <li>Cells in muscle, fat and the liver become resistant to insulin. Because these cells don't interact in a normal way with insulin, they don't take in enough sugar.</li>
    <li>The pancreas is unable to produce enough insulin to manage blood sugar levels.</li>
</ol>


<h2>Symptoms</h2>

<ul>
   <li>Increased thirst</li>
   <li>Numbness or tingling in the hands or feet</li>
   <li>Frequent infections</li>
   <li>Slow-healing sores</li>
   <li>Blurred vision</li>
   <li>Fatigue</li>
   <li>Unintended weight loss</li>
   <li>Increased hunger</li>
   <li>Frequent urination</li>
</ul>


<h2>Risk factors</h2>

<ol>
    <li>Being overweight or obese</li>
    <li>Fat distribution</li>
    <li>Inactivity</li>
    <li>Parent or sibling with type 2 diabetes</li>
    <li>Blood lipid levels</li>
    <li>Polycystic ovary syndrome</li>
</ol>

<h2>Complications</h2>

<p>Potential complications of type 2 diabetes:</p>

<ul>
   <li>Heart and blood vessel disease</li>
   <li>Nerve damage (neuropathy) in limbs</li>
   <li>Kidney disease</li>
   <li>Eye damage</li>
   <li>Skin conditions</li>
   <li>Slow healing</li>
   <li>Sleep apnea</li>
   <li>Hearing impairment</li>
</ul>


<h2>Treatment</h2>

<p>Management of type 2 diabetes includes:</p>

<ol>
   <li>Healthy eating</li>
   <li>Regular exercise</li>
   <li>Weight loss</li>
   <li>Blood sugar monitoring</li>
   <li>Possibly, diabetes medication or insulin therapy</li>
</ol>


<a href="/diabetes">Diabetes</a>


</div>


{% endblock %}