{% extends "layout.html" %}

{% block title %}
Diabetes type 1
{% endblock %}

{% block body %}

<div>
<h2>About type 1 diabetes</h2>

<p>Type 1 diabetes is also known as juvenile diabetes or insulin-dependent diabetes, is a chronic condition in which the pancreas produces little or no insulin.
Remember that insulin is a hormone needed to allow sugar (glucose) to enter cells to produce energy.
Type 1 diabetes usually appears during childhood or adolescence, it can develop in adults.<p/>


<h2>Causes</h2>

<p>The exact cause of type 1 diabetes is unknown. Usually, the body's own immune system mistakenly destroys the insulin-producing ( islets of Langerhans) cells in the pancreas.
Another possible causes include genetics and exposure to viruses and other harmfull environmental factors.</p>



<h2>Symptoms</h2>

<ul>
    <li>Increased thirst</li>
    <li>Frequent urination</li>
    <li>Extreme hunger</li>
    <li>Blurred vision</li>
    <li>Fatigue</li>
    <li>Weight loss</li>
</ul>


<h2>Risk factors</h2>

<ol>
   <li>Family history - if you have parent os sibling with type 1 diabetes it can increase risk of this condition.</li>
   <li>Genetics</li>
   <li>Age - Although type 1 diabetes can appear at any age, it appears at two noticeable peaks.
   The first peak occurs in children between 4 and 7 years old, and the second is in children between 10 and 14 years old.</li>
</ol>


<h2>Complications</h2>

<p>Type 1 diabetes complications may be disabling or even life-threatening. It include:</p>

<ul>
    <li>Heart and blood vessel disease</li>
    <li>Nerve damage (neuropathy)</li>
    <li>Kidney damage (nephropathy)</li>
    <li>Eye damage</li>
    <li>Pregnancy complications</li>
</ul>

<h2>Treatment</h2>

<p>Treatment for type 1 diabetes includes:</p>

<ol>
    <li>Taking insulin</li>
    <li>Carbohydrate, fat and protein counting</li>
    <li>Frequent blood sugar monitoring</li>
    <li>Eating healthy foods</li>
    <li>Exercising regularly and maintaining a healthy weight</li>
</ol>

<p>Types of insulin:</p>

<ul>
    <li>Short-acting (regular) insulin</li>
    <li>Rapid-acting insulin</li>
    <li>Intermediate-acting (NPH) insulin</li>
    <li>Long-acting insulin</li>
</ul>

<a href="/diabetes">Diabetes</a>



</div>


{% endblock %}