{% extends "layout.html" %}

{% block title %}
Diabetes
{% endblock %}

{% block body %}

<body>
<div>

<h2>What is diabetes ?</h2>

<p>Diabetes is a chronic disease that occurs either when the pancreas does not produce enough insulin or when the body cannot effectively use the insulin it produces.
Insulin is a hormone that regulates blood sugar. Hyperglycaemia, or raised blood sugar, is a common effect of uncontrolled diabetes and over time leads to serious damage to many of the body's systems, especially the nerves and blood vessels.

In 2014, 8.5% of adults aged 18 years and older had diabetes. In 2019, diabetes was the direct cause of 1.5 million deaths and 48% of all deaths due to diabetes occurred before the age of 70 years.

Between 2000 and 2016, there was a 5% increase in premature mortality rates (i.e. before the age of 70) from diabetes. In high-income countries the premature mortality rate due to diabetes decreased from 2000 to 2010 but then increased in 2010-2016.
In lower-middle-income countries, the premature mortality rate due to diabetes increased across both periods.</p>


<h3>There are 2 main types of diabetes:</h3>

<h4>Type 1 diabetes – where the body's immune system attacks and destroys the cells that produce insulin.</h4>

<h4>Type 2 diabetes – where the body does not produce enough insulin, or the body's cells do not react to insulin.</h4>


<p>During pregnancy, some women have such high levels of blood glucose that their body is unable to produce enough insulin to absorb it all. This is known as gestational diabetes.</p>


<a href="/diab1">Type 1 diabetes</a>

<p></p>
<a href="/diabe2">Type 2 diabetes</a>

<p></p>

<a id="Di" href="/">Homepage</a>



<img id="di" src="https://res.cloudinary.com/grohealth/image/upload/v1581695681/DCUK/Content/causes-of-diabetes.png" alt="Diabetes" width= 500 height= 300>


<img id="di2" src="https://storage.googleapis.com/1md/WhatIsDiabetesQuickGuide/WhatIsDiabetesQuickGuide-1.jpg" alt="Diabetes2" width= 500 height= 350>

</div>
</body>

{% endblock %}