{% extends "layout.html" %}

{% block title %}
Hypertension
{% endblock %}

{% block body %}
<div>
<h2>What is hypertension?</h2>

<p>Hypertension is a common condition in which the long-term force of the blood against your artery walls is high enough that it may eventually cause health problems, such as heart disease.Blood pressure is determined both by the amount of blood your heart pumps and the amount of resistance to blood flow in your arteries.
   The more blood your heart pumps and the narrower your arteries, the higher your blood pressure. A blood pressure reading is given in millimeters of mercury (mm Hg). It has two numbers:</p>
<ol>
    <li>Top number (systolic pressure). The first, or upper, number measures the pressure in your arteries when your heart beats.</li>
    <li>Bottom number (diastolic pressure). The second, or lower, number measures the pressure in your arteries between beats.</li>
</ol>

<p>You can have high blood pressure for years without any symptoms. Uncontrolled high blood pressure increases your risk of serious health problems, including heart attack and stroke.</p>

<h2>Causes</h2>

<p>We have two types of hypertension:</p>

    <h3>Primary hypertension</h3>

    <p>This type of high blood pressure tends to develop gradually over many years.</p>

    <h3>Secondary hypertension</h3>
    <p>This type of high blood pressure, called secondary hypertension, tends to appear suddenly and cause higher blood pressure than does primary hypertension. Various conditions and medications can lead to secondary hypertension, including:</p>
    <ul>
       <li>Kidney disease</li>
       <li>Adrenal gland tumors</li>
       <li>Thyroid problems</li>
       <li>Drugs like cocaine</li>
    </ul>

<h2>Symptoms</h2>

<p>People with hypertension often have no signs that something is wrong even if blood pressure is on very high level. A few people have symptoms and it include:</p>
<ul>
   <li>Headaches</li>
   <li>Shortness of breath</li>
   <li>Nosebleeds</li>
</ul>

<h2>Treatment</h2>

<p>You can keep your blood pressure on safe level by medicines and lifestyle changes. Lifestyle changes include for example reduce amount of salt, exercise regulary, stop smoking and drinking alcohol. Your doctor may prescribe one or more medicines.
Common medicines include for example ACE inhibitors, calcium channel blockers and diuretics.</p>




<h3>Having a high blood pressure all the time can increase risk of numerous life-threatening conditions, such as: heart attacks, vascular dementia and aortic aneurysms so it is very important to monitor your BP!</h3>


<h3>Do you know if you are in group of risk?</h3>

<p>Answer yourself to this questions:</p>

<ol>
    <li>Are you overweight?</li>
    <li>Do you eat to much salt?</li>
    <li>Do you smoke?</li>
    <li>Do you drink too much alcohol or coffee?</li>
    <li>Are you 60+ ?</li>
    <li>Do you have physical activity?</li>
    <li>Do you have enough sleep?</li>
    <li>Do you family member with hypertension?</li>
</ol>

<p></p>


<a id="HY" href="/">Homepage</a>
<p></p>


<img src="http://labor-consultant.com/wp/wp-content/uploads/2019/05/High-Blood-Pressure-Reasons-And-Prevention.jpg" alt="Hypertension" width= 450 height= 350>


<img id="hyp2" src="https://www.narayanahealth.org/blog/wp-content/uploads/2020/02/shutterstock_1361711048.jpg" alt="Hypertension2" width= 400 height= 300>

</div>
{% endblock %}